body{
    background-color: black;
   color: white;
   font-family: 'Times New Roman', Times, serif;
}
*{  
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.carousel-container{
    width: 60%;
    margin: auto;
    
}
.carousel-slide{
    display: flex;
    width: 100%;
    height: 500px;

}
.navbar{
    width: 100%;
    height: 50px;
    background-color: aqua;
}
.navbar-container{
    display: flex;
    align-items: center;
    background-color: blueviolet;
}
.logo-container{
    flex: 16;
    color: black;
}
.logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    
}
.home-container{
    flex: 16;
    color: black;

}
.profile-container{
    flex: 4;
    color: black;
}
.movie-container{
    flex: 16;
    color: black;
}
.sidebar{
      width: 10px;
      height: 100%;
      background-color: blueviolet;
      position: fixed;
      top: 0%;

    }  