
body{
    background-color: blue;
     width: 450px;
    margin: 0 auto; 
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 370px;
    height: 100px;
    position: relative;
    overflow:hidden ;
}
#inputField{
    width: 300px;
    height: 46px;
    border: 1px solid black;
    outline: none;
    font-size: 15px;
    vertical-align: middle;
}
.logo-container{
    flex:1;
    margin: 100px;
    height: 12;
    width: 34px; 
    font-family: 'Fredoka One', cursive;
    
}
#addToDo{
    height: 50px;
    width: 40px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30;

}
.to-dos{
    margin-top: 25px;
}
.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}
img{
    pointer-events: stroke;
}